.profile {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    gap: 30px;
}

@media (max-width: 1023px) {
    .profile {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .profile {
        width: 88.125%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
}