.popup__view-img {
    height: 75vh;
    max-height: 540px;
    object-fit: cover;
}

@media(max-width: 850px) {
    .popup__view-img {
        width: 75vw;
        min-width: 240px;
        height: 100%;
    }
}